flows (1).json
[{"id":"ba56430e.c9c66","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a9c4aa0b.4cc328","type":"ui_gauge","z":"ba56430e.c9c66","name":"Stove A Gauge","group":"e3796f6e.42696","order":1,"width":"0","height":"0","gtype":"gage","title":"Stove A","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":200,"wires":[]},{"id":"aef72bc0.81f5b8","type":"ui_slider","z":"ba56430e.c9c66","name":"Stove A Slider","label":"Stove A","tooltip":"","group":"e3796f6e.42696","order":2,"width":"0","height":"0","passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":240,"y":200,"wires":[["a9c4aa0b.4cc328"]]},{"id":"bc666bed.85c048","type":"ui_gauge","z":"ba56430e.c9c66","name":"Stove B Gauge","group":"85615b1e.f0dca8","order":1,"width":"0","height":"0","gtype":"gage","title":"Stove B","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":240,"wires":[]},{"id":"3be5932e.f7c20c","type":"ui_slider","z":"ba56430e.c9c66","name":"Stove B Slider","label":"Stove B","tooltip":"","group":"85615b1e.f0dca8","order":2,"width":"0","height":"0","passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":240,"y":240,"wires":[["bc666bed.85c048"]]},{"id":"feff4af2.fae4a8","type":"ui_gauge","z":"ba56430e.c9c66","name":"Stove C Gauge","group":"bcc2e71e.8c9548","order":1,"width":"0","height":"0","gtype":"gage","title":"Stove C","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":280,"wires":[]},{"id":"f03eb95.239e048","type":"ui_slider","z":"ba56430e.c9c66","name":"Stove C Slider","label":"Stove C","tooltip":"","group":"bcc2e71e.8c9548","order":2,"width":"0","height":"0","passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":240,"y":280,"wires":[["feff4af2.fae4a8"]]},{"id":"2b4d57e4.633778","type":"ui_gauge","z":"ba56430e.c9c66","name":"Stove D Gauge","group":"39112f45.3d17b","order":1,"width":"0","height":"0","gtype":"gage","title":"Stove D","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":320,"wires":[]},{"id":"67dd9a8c.1907c4","type":"ui_slider","z":"ba56430e.c9c66","name":"Stove D Slider","label":"Stove D","tooltip":"","group":"39112f45.3d17b","order":2,"width":"0","height":"0","passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":"5","x":240,"y":320,"wires":[["2b4d57e4.633778","45263dd1.a2cca4","3d667d15.fd22b2","a5ef3cba.5caac"]]},{"id":"770a99be.f90fb8","type":"trigger","z":"ba56430e.c9c66","name":"","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"30","extend":true,"overrideDelay":false,"units":"s","reset":"1","bytopic":"all","topic":"topic","outputs":1,"x":310,"y":780,"wires":[["7c0ec50e.1b3f6c"]]},{"id":"3d98a269.6e918e","type":"exec","z":"ba56430e.c9c66","command":"python3 ~/Documents/tamuMake2021/set_servo_angle.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Stove Controller","x":480,"y":440,"wires":[[],[],[]]},{"id":"45263dd1.a2cca4","type":"range","z":"ba56430e.c9c66","minin":"0","maxin":"100","minout":"0","maxout":"180","action":"scale","round":true,"property":"payload","name":"","x":320,"y":440,"wires":[["3d98a269.6e918e"]]},{"id":"aa3d1ce9.50afa","type":"rpi-gpio in","z":"ba56430e.c9c66","name":"Motion Sensor","pin":"13","intype":"tri","debounce":"25","read":false,"x":130,"y":780,"wires":[["770a99be.f90fb8"]],"outputLabels":["Motion Detected"]},{"id":"8721da30.808ab8","type":"function","z":"ba56430e.c9c66","name":"","func":"if((global.motion == 0) && (global.thermal == 1)){\n    msg.payload = 0;\n}else{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":860,"wires":[["62f38fa5.640d"]]},{"id":"fc09232a.27ae7","type":"trigger","z":"ba56430e.c9c66","name":"Thermal Camera Loop","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"10","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":220,"y":1000,"wires":[["2dc1fbbc.adbbb4"]]},{"id":"2dc62323.cd5e6c","type":"exec","z":"ba56430e.c9c66","command":"python3 ~/Documents/tamuMake2021/check_thermal_camera.py","addpay":true,"append":"","useSpawn":"false","timer":"2","oldrc":false,"name":"Thermal Camera Refresh","x":410,"y":1040,"wires":[["f29258f0.a05d48"],[],["fc09232a.27ae7"]]},{"id":"f15a2af6.58cc08","type":"link out","z":"ba56430e.c9c66","name":"Thermal State","links":["b6ea3c0d.20bde"],"x":695,"y":1020,"wires":[]},{"id":"2dc1fbbc.adbbb4","type":"change","z":"ba56430e.c9c66","name":"Temp Threshold","rules":[{"t":"set","p":"payload","pt":"msg","to":"25","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":1040,"wires":[["2dc62323.cd5e6c"]]},{"id":"f29258f0.a05d48","type":"function","z":"ba56430e.c9c66","name":"","func":"val = Number(msg.payload);\nif(val >= 30){\n    msg.payload = 1;\n}else{\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1040,"wires":[["f15a2af6.58cc08"]]},{"id":"f9a57263.38946","type":"change","z":"ba56430e.c9c66","name":"Add global.thermal","rules":[{"t":"set","p":"thermal","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":900,"wires":[["8721da30.808ab8"]]},{"id":"7c0ec50e.1b3f6c","type":"change","z":"ba56430e.c9c66","name":"Add global.motion","rules":[{"t":"set","p":"motion","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":780,"wires":[["8721da30.808ab8"]]},{"id":"f7aa578e.f6cd58","type":"trigger","z":"ba56430e.c9c66","name":"","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"30","extend":true,"overrideDelay":false,"units":"s","reset":"1","bytopic":"all","topic":"topic","outputs":1,"x":190,"y":900,"wires":[["f9a57263.38946"]]},{"id":"62f38fa5.640d","type":"link out","z":"ba56430e.c9c66","name":"Emergency Shutoff","links":["62679666.a71348"],"x":795,"y":840,"wires":[]},{"id":"3d667d15.fd22b2","type":"exec","z":"ba56430e.c9c66","command":"python3 ~/Documents/tamuMake2021/safety_check_controller.py","addpay":false,"append":"","useSpawn":"true","timer":"2","oldrc":false,"name":"Safety Check","x":470,"y":380,"wires":[["cff05d1.383e6a"],["cff05d1.383e6a"],["cff05d1.383e6a"]]},{"id":"3679e9.6de3b618","type":"rpi-gpio out","z":"ba56430e.c9c66","name":"TEST LED","pin":"40","set":true,"level":"0","freq":"","out":"out","x":470,"y":480,"wires":[]},{"id":"a5ef3cba.5caac","type":"range","z":"ba56430e.c9c66","minin":"0","maxin":"100","minout":"0","maxout":"1","action":"scale","round":true,"property":"payload","name":"","x":310,"y":480,"wires":[["3679e9.6de3b618"]]},{"id":"cff05d1.383e6a","type":"debug","z":"ba56430e.c9c66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":400,"wires":[]},{"id":"71d5f342.4e87dc","type":"alexa-home","z":"ba56430e.c9c66","conf":"8f13ae27.7540c","device":"137559","acknoledge":true,"name":"Stove A","topic":"My Stove","x":70,"y":200,"wires":[["aef72bc0.81f5b8"]]},{"id":"60bfb506.6c538c","type":"alexa-home","z":"ba56430e.c9c66","conf":"8f13ae27.7540c","device":"137560","acknoledge":true,"name":"Stove B","topic":"My Stove","x":70,"y":240,"wires":[["3be5932e.f7c20c"]]},{"id":"6f82c7ff.f46158","type":"alexa-home","z":"ba56430e.c9c66","conf":"8f13ae27.7540c","device":"137561","acknoledge":true,"name":"Stove C","topic":"My Stove","x":70,"y":280,"wires":[["f03eb95.239e048"]]},{"id":"7c7e215c.842c7","type":"alexa-home","z":"ba56430e.c9c66","conf":"8f13ae27.7540c","device":"137562","acknoledge":true,"name":"Stove D","topic":"My Stove","x":70,"y":320,"wires":[["67dd9a8c.1907c4"]]},{"id":"e3796f6e.42696","type":"ui_group","name":"Stove A","tab":"2ecddbd5.956b44","order":1,"disp":true,"width":"6","collapse":false},{"id":"85615b1e.f0dca8","type":"ui_group","name":"Stove B","tab":"2ecddbd5.956b44","order":2,"disp":true,"width":"6","collapse":false},{"id":"bcc2e71e.8c9548","type":"ui_group","name":"Stove C","tab":"2ecddbd5.956b44","order":3,"disp":true,"width":"6","collapse":false},{"id":"39112f45.3d17b","type":"ui_group","name":"Stove D","tab":"2ecddbd5.956b44","order":4,"disp":true,"width":"6","collapse":false},{"id":"8f13ae27.7540c","type":"alexa-home-conf","username":"jeffreyspaceboy"},{"id":"2ecddbd5.956b44","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]